<body ng-controller="RegisterCtrl" ng-app="myApp">
  <div class="container">
    <div id="signup">
      <div class="signup-screen">
        <div class="space-bot text-center">
          <h1>Register Page</h1>
          <div class="divider"></div>
        </div>
        <form class="form-register" method="post" name="register" novalidate>
          <div class="input-field col s6">
            <input id="name" type="text" class="validate" required>
            <label for="name">Name</label>
          </div>
          <div class="email">
            <input id="email" type="email" name="email" ng-model="email" class="validate" required>
            <label for="email">Email</label>
          </div>
          <p class="alert " ng-show="form-register.email.$error.email">Your email is invalid.</p>
          <div class="input-field col s6">
            <input id="password" type="password" name="password" ng-model="password" ng-minlength='6' class="validate"
              required>
            <label for="password">Password</label>
          </div>
          <div class="Location">
            <input id="loc" type="text" name="Location" ng-model="Location" ng-minlength='6' class="validate"
              required>
            <label for="loc">Location</label>
          </div>
          <div class="Location">
            <input id="number" type="text" name="phone" ng-model="phone" ng-minlength='6' class="validate"
              required>
            <label for="number">Phone Number</label>
          </div>
          <div class="rest">
            <input id="loc" type="text" name="Restaurant" ng-model="Location" ng-minlength='6' class="validate"
              required>
            <label for="loc">The Restaurant</label>
          </div>
          <div class="info">
            <input id="info" type="text" name="Rest" ng-model="Restaurant" ng-minlength='6' class="validate"
              required>
            <label for="loc">RestaurantInformation</label>
          </div>
          <p class="alert alert-danger" ng-show="form-register.password.$error.minlength || form.password.$invalid">Your
            password must be at least 6 characters.</p>
          <div class="space-top text-center">
            <button ng-disabled="form-register.$invalid" class="waves-effect waves-light btn done">
              <i class="material-icons left">done</i> Done
            </button>
            <button type="button" class="waves-effect waves-light btn cancel">
              <i class="material-icons left">clear</i>Cancel
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>